.profilZone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    flex: 6;
}
.profilZoneContainer {
    display: flex;
    gap: 30px;
    align-items: center;
}
.skillsZone {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--dark-contrast-color);
}
.skillsZone .title {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 500;
}
.tips {
    font-size: 14px;
    font-family: DosisMedium;
}
.tipsError {
    font-size: 14px;
    font-family: DosisMedium;
    color: #D91A41;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

@media screen and (max-width: 1200px) {
    .profilZone {
        gap: 30px;
    }
    .profilZoneContainer {
        gap: 15px;
        align-items: center;

    }
}

@media screen and (max-width: 900px) {
    .profilZone {
        gap: 15px;
    }
    .profilZoneContainer {
        flex-direction: column;
        gap: 15px;
    }
    .skillsZone .title {
        text-align: center;
    }
    
}

@media screen and (max-width: 700px) {

}