.titleSection {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.titleSection h3 {
    flex: 5;
    font-weight: 500;
    line-height: 150%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}
.description {
    line-height: 150%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    overflow: hidden;
}
.titleSection img {
    width: 50px;
    flex: 1;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
}
.stack img {
    width: 30px;
    height: 30px;
}