.hireContainer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactForm {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    .hireContainer {
        width: 100%;
        padding: 0 40px;
    }
}

@media screen and (max-width: 900px) {
    .hireContainer {
        width: 100%;
        padding: 0 40px;
    }
}

@media screen and (max-width: 700px) {
    .hireContainer {
        padding: 0 20px;
    }
    .contactForm {
        flex-direction: column;
        max-width: 430px;
        gap: 30px;
    }
}
