.experiencesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.experienceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.experienceBanner {
    position: absolute;
    padding: 10px 20px;
    top: 20px;
    right: 0;
    background-color: var(--secondary-color);
    color: #fff;
}
.titleSection {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.titleSection h3 {
    flex: 5;
    font-weight: 500;
    line-height: 150%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}
.titleSection img {
    width: 50px;
    flex: 1;
}

.moreButton {
    position: absolute;
    padding: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 2px 2px 4px black;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.moreButton:hover {
    background-color: var(--primary-color);
    color: var(--contrast-color);
    box-shadow: none;
}