@font-face {
  font-family: "Dosis";
  src: url("../../assets/fonts/Dosis-VariableFont_wght.ttf");
}

/* Main Content styles */
.mainContainer {
    padding: 0px 80px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 900px) {
    .mainContainer {
        padding: 0 40px;
    }
    
}

@media screen and (max-width: 700px) {
    .mainContainer {
        padding: 0 20px;
    }
    .content {
        flex-direction: column-reverse;
        align-items: center;
    }
}