.stackContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 150px;
    overflow: hidden;
}
.stackRow {
    padding: 70px 10px 5px 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: start;
}
.title {
    position: absolute;
    top: 0;
    left: 10px;
    font-family: DosisMedium;
    font-size: 25px;
    border-block-end: 3px solid var(--black-color);
}
.stackItem {
    width: 80px;
    aspect-ratio: 1/1;
    will-change: filter;
    transition: filter 300ms;
}
.stackItem:hover {
    filter: drop-shadow(0 0 0.5rem grey);
}

@media screen and (max-width: 1200px) {
    .stackContainer {
        gap: 15px;
    }
    .stackItem {
        width: 80px;
    }
    .stackRow {
        border-right-width: 15px;
    }
}

@media screen and (max-width: 900px) {
    .stackRow {
        padding: 50px 10px 15px 10px;
    }
    .stackItem {
        width: 60px;
    }
    .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .stackContainer {
        gap: 10px;
    }
    .stackRow {
        padding: 50px 10px 10px 10px;
        border-block-end-width: 2px;
    }
    .stackItem {
        width: 50px;
    }
    .title {
        font-size: 15px;
    }
}