.roadMapContainer {
    overflow: hidden;
    background-color: var(--contrast-color);
    display: flex;
}
.swiperContainer {
    max-width: 50%;
    border: 2px solid var(--black-color);
}

.descriptionContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.title {
    font-family: Dosis;
    font-size: 3rem;
    color: var(--black-color);
    text-transform: uppercase;
}
.description {
    font-size: 1.2rem!important;
    font-family: Dosis!important;
    color: var(--black-color);
}


@media screen and (max-width: 900px) {
    .roadMapContainer {
        padding: 40px 0 0 0;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .swiperContainer {
        max-width: 100%;
        border-width: 1px;
    }
    .descriptionContainer {
        padding: 20px;
    }
    .title {
        font-family: Dosis;
        font-size: 2rem;
    }
    .description {
        font-size: 1.1rem!important;
    }
}

@media screen and (max-width: 700px) {
    .roadMapContainer {
        padding: 20px 0 0 0;
    }
    .descriptionContainer {
        padding: 10px;
    }
    .description {
        font-size: 1rem!important;
    }
}