.expertiseSection {
    margin-bottom: 150px;
}
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

@media screen and (max-width: 1200px) {
    .content {
        gap: 60px;
    }
}

@media screen and (max-width: 700px) {
    .content {
        gap: 50px;
    }
}