@font-face {
  font-family: "Dosis";
  src: url("../../assets/fonts/Dosis-VariableFont_wght.ttf");
}
@font-face {
  font-family: "DosisMedium";
  src: url("../../assets/fonts/Dosis-Medium.ttf");
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}

.footerContainer {
  background-color: #f2f2f2;
  color: #707070;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.actualHook {
  color: var(--primary-color);
  font-weight: 500;
}

.linksContainer {
  display: flex;
  gap: 15px;
}
.linkContainer {
  background-color: #707070;
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  will-change: backgroundColor;
  transition: all 0.42s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.linkContainer:hover {
  background-color: var(--primary-color);
}
.linkContainer img {
  width: 35px;
}

.navLinks {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navLinks a {
  font-family: PoppinsRegular;
  font-weight: 400;
  font-size: 1.2rem;
}
.navLinks img {
  display: inline-block;
  width: 15px;
  margin: 0 5px;
}

.credentials {
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .linksContainer {
    display: flex;
    gap: 10px;
  }
  .linkContainer {
    width: 50px;
  }
  .linkContainer img {
    width: 25px;
  }

  .navLinks a {
    font-size: 1.1rem;
  }

  .credentials {
    font-weight: 400;
  }
}
